.pt-100 {
	padding-top: 100px;
}
.pb-100 {
	padding-bottom: 100px;
}
.services-area {
  background-color: #f8f9fa2e;
}
.section-title {
  margin-bottom: 60px;
}
.section-title p {
	color: #777;
	font-size: 16px;
}
.section-title h4 {
	text-transform: capitalize;
	font-size: 40px;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	background-color: #008f95;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
}
.section-title h4:after {
	position: absolute;
	background-color: #008f95;
	content: "";
	width: 10px;
	height: 10px;
	bottom: -4px;
	left: 50%;
	margin-left: -5px;
	border-radius: 50%;
}
.single-service {
	border: 1px solid #cbcfd2;
	padding: 30px 10px;
	position: relative;
	text-align: center;
	margin-bottom: 30px;
}

.single-service:hover {
	background:#008f95;
	color:#fff;
}
.single-service i.fa {
  width: 60px;
  height: 60px;
  background-color: #008f95;
  font-size: 25px;
  color: #fff;
  line-height: 60px;
  text-align:center;
  margin-bottom:20px;
}
.single-service i.fa {
	-webkit-transition: .4s;
	transition: .4s;
}
.single-service:hover i.fa {
	border-radius: 50%;
	background: #fff;
	color:#008f95;
}
.single-service h4 {
	text-transform: capitalize;
	font-size: 22px;
	margin-bottom: 10px;
	font-weight: 500;
}

