body {background: #e2e2e261;}
/********card frame **************/
.card {position: relative; border-radius: 3px; background-color: #fff;color: #4f5256;border: 1px solid #f2f2f2;
    margin-top: 30px;margin-bottom: 16px;background:#fff;}
.card-header{padding: 8px;margin:0px;}
.card-body {position: relative; padding: 16px;}

.gaadiex-list {list-style-type: none; margin: 0;padding: 0;}
.gaadiex-list>.gaadiex-list-item {padding: 0 22px;}
.gaadiex-list-item-img  {
    float: left;
    width: 58px;
    height: 58px;
    margin-top: 52px;
    margin-bottom: 8px;
    margin-right: 20px;
    
}


.clickable{
    cursor: pointer;   
}

/*.gaadiex-list-item i  {
    float: left;
    font-size: 36px;
    width: 13px;
    height: 59px;
    margin-top: -43px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%;
}
*/
h6.checkdate {
    display: inline-block;
    width: 48%;
}

h4.head_text{
    color:#df004f;
}

.date_Section {
    display: block;
    width: 100%;
    margin-left: 70px;
}

.view_date_Section{
    display: block;
    width: 100%;
}
h6.price {
    margin-left: 70px;
}
.gaadiex-list-item-text {
    border-bottom: 1px solid #b5afaf99;
    padding: 10px;
}
.border-b-1 {border-bottom: 1px solid rgba(162,162,162,.16);}

.button_Section {
    text-align: right;
}

button.btn.btn-primary.approve {
    width: 86px;
    background: #0c730c !important;
    border: 1px solid #0c730c;
    margin-right: 20px;
    color: #fff !important;
}

button.btn.btn-primary.reject {
    width: 86px;
    background: #cc1818 !important;
    border: 1px solid #cc1818;
    color: #fff !important;
}

.hr{margin:5px 0;}

.myaccordion {
    /* max-width: 500px; */
    margin: auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
    width: 100%;
  }
  
  .myaccordion .card,
  .myaccordion .card:last-child .card-header {
    border: none;
  }
  
  .myaccordion .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
  }
  
  .myaccordion .fa-stack {
    font-size: 18px;
  }
  
  .myaccordion .btn {
    width: 100%;
    font-weight: bold;
    color: #004987;
    padding: 0;
  }
  
  .myaccordion .btn-link:hover,
  .myaccordion .btn-link:focus {
    text-decoration: none;
  }
  
  .myaccordion li + li {
    margin-top: 10px;
  }

  h6.doc_header {
    display: inline-block;
    width: 18%;
    vertical-align: middle;
    margin:0;
}

.doc_value {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}

.document_section {
    display: block;
    width: 100%;
}