<% include layout.ejs %>
<body>

    <div class="container">
    <hr>
    
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Edit Profile</h4>
        <hr>
        <form  class="needs-validation" novalidate  ng-controller="formCtrl" id="userRegsitration" ng-init="getUser()"> 
         <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input name="" class="form-control" placeholder="First Name *" type="text"  ng-model="user.FirstName" pattern="[A-Za-z]*" required >
            <div class="valid-feedback">
                Looks good!
               </div>
               <div class="invalid-feedback">
                 Please provide First Name / valid Firstname!
               </div>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input name="" class="form-control" placeholder="Last Name" type="text"  ng-model="user.LastName" pattern="[A-Za-z]*" required >
            <div class="valid-feedback">
                Looks good!
               </div>
               <div class="invalid-feedback">
                 Please provide Lastname / valid Lastname!
               </div>
        </div>
        <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-venus-mars"></i> </span>
                 </div>
                 <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" ng-model="user.Gender" id="inlineRadio1" value="Male">
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" ng-model="user.Gender" id="inlineRadio2" value="Female">
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" ng-model="user.Gender" id="inlineRadio3" value="Other" >
                    <label class="form-check-label" for="inlineRadio3">Other</label>
                  </div>
                <div class="valid-feedback">
                    Looks good!
                   </div>
                   <div class="invalid-feedback">
                     Please provide Gender / valid Gender!
                   </div>
            
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <select class="custom-select" style="max-width: 120px;">
                <option selected="">+1</option>
            </select>
            <input name="" class="form-control" placeholder="Phone Number" ng-model="user.Mobile"  type="tel" pattern="^\D?(\d{3})\D?\D?(\d{3})\D?(\d{4})$" required>
            <div class="valid-feedback">
                Looks good!
               </div>
               <div class="invalid-feedback">
                 Please provide phone number / valid phone number!
               </div>
            </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
            <input name="" class="form-control" placeholder="Email Address"  ng-model="user.Email" type="email"  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            <div class="valid-feedback">
                Looks good!
               </div>
               <div class="invalid-feedback">
                 Please provide Email / valid Email!
               </div>
        </div> <!-- form-group// -->
        
        
               <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
                 </div>
                <input name="" class="form-control" ng-change="validateDate(event)" placeholder="Date Of Birth" type="date" ng-model="user.DateOfBirth" required>
                <div class="valid-feedback">
                    Looks good!
                   </div>
                   <div class="invalid-feedback">
                     Please provide DOB / valid DOB!
                   </div>
            
        </div>
        <div class="alert alert-danger" role="alert" id="date-failed">
           Age should be greater than 21!
          </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-id-card"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="SSN"  type="tel" ng-model="user.SSN" pattern="^\d{3}\d{2}\d{4}$" required>
            <div class="valid-feedback">
                Looks good!
               </div>
               <div class="invalid-feedback">
                 Please provide SSN / valid SSN!
               </div>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-users"></i> </span>
            </div>
                <select class="form-control" required ng-model="user.Employeestatus">
                    <option value=""> Select</option>
                    <option value="Employed">Employed</option>
                    <option value="UnEmployed">UnEmployed</option>
                    
                </select>
            <div class="valid-feedback">
                Looks good!
               </div>
               <div class="invalid-feedback">
                 Please provide employed status!
               </div>
        </div>
         <!-- form-group// -->
       <!-- form-group end.// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Update Password" type="password" ng-model="user.password" required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{5,20})">
            <div class="valid-feedback">
                Looks good!
               </div>
               <div class="invalid-feedback">
                 Please provide valid password
               </div>
        </div> <!-- form-group// -->
        <div class="alert alert-primary" role="alert" >
            Password should contain atleast 1 small-case letter, 1 Capital letter, 1 digit, 1 special character and the length should be between 6-20 characters.
          </div>
       
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Confirm Password"  ng-keydown="matchPassword($event)" type="password" ng-model="user.confirmpassword" required  pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{5,20})">
            <div class="valid-feedback">
                Looks good!
               </div>
               <div class="invalid-feedback">
                 Please provide valid password
               </div>
        </div>
        <div class="alert alert-success" role="alert" id="password-success">
                Passwords matched!
              </div>
              <div class="alert alert-danger" role="alert" id="password-failed">
                Passwords do not matched!
              </div>
       <!-- form-group// -->                                      
        <div class="form-group">
            <button   class="btn btn-primary btn-block" > Update </button>
        </div> <!-- form-group// -->   
        <div class="form-group">
                <button  ng-click="goToProfile()" class="btn btn-primary btn-block" > Cancel </button>
            </div> <!-- form-group// -->    
                                                                 
    </form>
    </article>
    </div> 
      </div>
      <div class="loading" id="spinner">
          <div class="loader"></div>
      </div>
    <div id="registerModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
           <div class="modal-content">
              <div class="modal-header">
                 <div class="icon-box">
                    <i class="material-icons">check_circle_outline</i>
                 </div>				
                 <h4 class="modal-title">Success!</h4>	
              </div>
              <div class="modal-body">
                 <p class="text-center">User has been Updated succesfully</p>
              </div>
              <div class="modal-footer">
                 <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
              </div>
           </div>
        </div>
     </div>
     <% include footer.ejs %>
    <script src="../../js/editprofile.js"></script>
</body>
</html>
    
