<% include layout.ejs %>
<div class="container login-container" ng-app="myApp">
   <div class="row justify-content-center">
      <div class="col-md-6 login-form-1">
         <form class="needs-validation" id="sendEmail"  ng-controller="mailformCtrl" novalidate>
            <h3>Please enter your email to get new password</h3>
            <div class="form-group">
               <input type="email" class="form-control" placeholder="Email*" ng-model="user.mail" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
               <div class="valid-feedback">
                  Looks good!
               </div>
               <div class="invalid-feedback">
                  Please provide email / valid email!
               </div>
            </div>
            <div class="form-group">
               <input type="submit" class="btnSubmit" value="Send Email"></input>
            </div>
         </form>

         <form class="needs-validation" id="changePassword" novalidate>
            <h3>Please enter the new password sent to your email</h3>
            <div class="form-group" >
               <input type="password" class="form-control" placeholder="Password*" pattern="[A-Za-z]*" required />
               <div class="valid-feedback">
                  Looks good!
               </div>
               <div class="invalid-feedback">
                  Please provide email / valid email!
               </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="New Password*" pattern="[A-Za-z]*" required />
                <div class="valid-feedback">
                   Looks good!
                </div>
                <div class="invalid-feedback">
                   Please provide email / valid email!
                </div>
             </div>
            <div class="form-group">
               <input type="submit" class="btnSubmit" value="Change Password" />
            </div>
         </form>

      </div>
   </div>
</div>
<div id="myModal" class="modal fade">
   <div class="modal-dialog modal-confirm">
      <div class="modal-content">
         <div class="modal-header">
            <div class="icon-box">
               <i class="material-icons">&#xE876;</i>
            </div>
            <h4 class="modal-title">Success!</h4>
         </div>
         <div class="modal-body">
            <p class="text-center">You have loggged in succesfully</p>
         </div>
         <div class="modal-footer">
            <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
         </div>
      </div>
   </div>
</div>
<% include footer.ejs %>
<script src="../../js/forgotpassword.js"></script>
</body>
</html>