<% include layout.ejs %>
<div class="container login-container" >
   <div class="row justify-content-center">
      <div class="col-md-6 login-form-1">
         <form class="needs-validation" id="sendEmail"  ng-controller="mailformCtrl" novalidate>
            <h3>Please enter your email to get new password</h3>
            <div class="form-group">
               <input type="email" class="form-control" placeholder="Email*" ng-model="user.email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
               <div class="valid-feedback">
                  Looks good!
               </div>
               <div class="invalid-feedback">
                  Please provide email / valid email!
               </div>
            </div>
            <div class="alert alert-danger" role="alert" id="email-failed">
               Email id does not exist. Please provide valid email Id!
             </div>
            <div class="form-group">
               <input type="submit" class="btnSubmit" value="Send Email"></input>
            </div>
         </form>

         <form class="needs-validation" id="changePassword" ng-controller="passwordformCtrl" novalidate>
            <h3>Please enter the new password sent to your email</h3>
            <div class="form-group" >
               <input type="password" class="form-control" ng-model="user.autopassword" ng-paste="matchPasswordOnchange($event)" ng-keydown="matchAutoPassword($event)" placeholder="Password*" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{5,20})" required />
               <div class="valid-feedback">
                  Looks good!
               </div>
               <div class="invalid-feedback">
                  Please provide password / valid password!
               </div>
            </div>
            <div class="alert alert-success" role="alert" id="autopassword-success">
               Password matched with the one which is sent to email!
             </div>
             <div class="alert alert-danger" role="alert" id="autopassword-failed">
               Password do not matched with the one which is sent to email!
             </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="New Password*" ng-model="user.password" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{5,20})" required />
                <div class="valid-feedback">
                   Looks good!
                </div>
                <div class="invalid-feedback">
                   Please provide password / valid password!
                </div>
             </div>
             <div class="form-group">
               <input type="password" class="form-control" placeholder="Confirm Password*" ng-model="user.confirmpassword" ng-keydown="matchPassword($event)" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{5,20})" required />
               <div class="valid-feedback">
                  Looks good!
               </div>
               <div class="invalid-feedback">
                  Please provide password / valid password!
               </div>
            </div>
            <div class="alert alert-success" role="alert" id="password-success">
               Passwords matched!
             </div>
             <div class="alert alert-danger" role="alert" id="password-failed">
               Passwords do not matched!
             </div>
            <div class="form-group">
               <input type="submit" class="btnSubmit" value="Change Password" />
            </div>
         </form>

      </div>
   </div>
</div>
<div id="emailModal" class="modal fade"  ng-controller="modalController">
   <div class="modal-dialog modal-confirm">
      <div class="modal-content">
         <div class="modal-header text-center">
            <div class="icon-box">
               <i class="material-icons">{{modal.iconCode}}</i>
            </div>
            <h4 class="modal-title">{{modal.title}}</h4>
         </div>
         <div class="modal-body">
            <p class="text-center">{{modal.message}}</p>
         </div>
         <div class="modal-footer">
            <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
         </div>
      </div>
   </div>
</div>
<div class="loading" id="spinner">
   <div class="loader"></div>
</div>
<div id="passwordModal" class="modal fade"  >
   <div class="modal-dialog modal-confirm">
      <div class="modal-content">
         <div class="modal-header text-center">
            <div class="icon-box">
               <i class="material-icons">check_circle_outline</i>
            </div>
            <h4 class="modal-title">Success</h4>
         </div>
         <div class="modal-body">
            <p class="text-center">Password has been updated successfuuly</p>
         </div>
         <div class="modal-footer">
            <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
         </div>
      </div>
   </div>
</div>
<% include footer.ejs %>
<script src="../../js/forgotpassword.js"></script>
</body>
</html>