
<nav class="mb-1 navbar fixed-top navbar-expand-lg navbar-dark default-color">
  <a class="navbar-brand" href="/userhome">
      <img src="../../images/loan.png" height="30" class="d-inline-block align-top">
      Loanalytic </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333"  ng-controller="navController">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" ng-hide="isVisible" href="/userhome">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item" ng-hide="isVisible">
        <a class="nav-link" href="/loanapplication">Apply Loan</a>
      </li>

      <li class="nav-item" ng-hide="isVisible">
        <a class="nav-link" href="/viewapplication">View Applications</a>
      </li>
     <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Dropdown
        </a>
        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->

      <div class="dropdown">
        <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Loan Calculator
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/LoanCalculator">Mortgage loan</a>
          <a class="dropdown-item" href="/LoanCalculator_education">Personal/Education loan</a>
        </div>
      </div>

    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href = "https://twitter.com/?lang=en">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href = "https://www.facebook.com/Loanalytic-Web-Based-Project-432587797578990/?modal=admin_todo_tour">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" ng-hide="isVisible" href="/">Logout</a>
          <a class="dropdown-item" ng-hide="isVisible" href="/profile">My Profile</a>
          <a class="dropdown-item" href="/contact_us">Contact us</a>
          <a class="dropdown-item" ng-hide="isVisible" href="/feedback_page">Customar feedback</a>
          <a class="dropdown-item" href="/AboutUs">About Us</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
