<% include layout.ejs %>
<style>
  .container{
    margin-top: 60px;
  }
  .row{
    margin-left:10%;
  }
  .row_exclude{
     margin:none;
  }
.doc_text{
   vertical-align: middle !important;
}
.document_section{
   margin-top:25px;
   margin-bottom:25px;
   margin-left:0;
   vertical-align: middle;
}
 
</style>
<div class="container">
<form class="form-horizontal needs-validation" novalidate  ng-controller="formCtrl" id="loanApplication">
   <fieldset  >
      <!-- Form Name -->
      <legend class="">
      Loan Application </legend>
      <!-- Text input-->
      <div class="row">
      <div class="form-group col-sm-6 col-md-6">
               
          <!-- <label class="col-md-6 control-label" for="payment">Loan Type</label> -->
      <h3><span class="badge badge-light">Loan Type</span></h3>
          <div class="col-md-8">
             <select id="loanType" class="form-control" required  ng-model="loanApplication.loanType">
                <option value="">Loan Type</option>
                <option value="Personal Loan">Personal Loan</option>
                <option value="Education Loan">Education Loan</option>
                <option value="Mortgage Loan">Mortgage Loan</option> 
             </select>
             <div class="valid-feedback">
                Looks good!
               </div>
               <div class="invalid-feedback">
                 Please provide Loan Type / valid Loan Type!
               </div>
          </div>
       
    </div>
  </div>
      <div class="row ">
         <div class="form-group col-sm-6 col-md-6 " >
            
               <!-- <label class="col-md-4  control-label  text-left"  for="firstName">First Name</label>   -->
               <h4> <span class="badge badge-primary">First Name</span></h4>
               <div class="col-md-8">
                    
                  <input id="firstName" name="firstName" placeholder="First Name" ng-model="loanApplication.firstName" class="form-control input-md" type="text" required>
                  <div class="valid-feedback">
                      Looks good!
                     </div>
                     <div class="invalid-feedback">
                       Please provide First name / valid First name!
                     </div>
                </div>
           
         </div>

         <div class="form-group col-sm-6 col-md-6 " >
            
            <!-- <label class="col-md-4  control-label  text-left"  for="lastName">Last Name</label>   -->
            <h4> <span class="badge badge-primary">Last Name</span></h4>
            <div class="col-md-8">
               <input id="lastName" name="lastName" placeholder="Last Name" ng-model="loanApplication.lastName" class="form-control input-md" type="text" required>
               <div class="valid-feedback">
                  Looks good!
                 </div>
                 <div class="invalid-feedback">
                   Please provide Last name / valid Last name!
                 </div>
              </div>
        
      </div>
         <!-- Search input-->
      </div>
      <div class="row ">
         <!-- Text input-->
         <div class="form-group col-sm-6 col-md-6">
               
            <!-- <label class="col-md-6 control-label" for="gender">Gender</label> -->
            <h4> <span class="badge badge-primary">Gender</span></h4>
            <div class="col-md-8">
               <select id="gender" name="gender" class="form-control" required ng-model="loanApplication.gender">
                  <option value="">Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
               </select>
               <div class="valid-feedback">
                  Looks good!
                 </div>
                 <div class="invalid-feedback">
                   Please provide Gender!
                 </div>
            </div>
         </div>
         <div class="form-group col-sm-6 col-md-6 justify-content-center" >
            
            <!-- <label class="col-md-4 col-sm-4  control-label text-left"  for="email">Email</label> -->
            <h4> <span class="badge badge-primary">Email</span></h4>
            <div class="col-md-8 col-sm-8">
               <input id="email" name="email" placeholder="Email" class="form-control input-md" ng-model="loanApplication.email" required type="email">
               <div class="valid-feedback">
                  Looks good!
                 </div>
                 <div class="invalid-feedback">
                   Please provide email / valid email!
                 </div>
              </div>
        
      </div>
         
            <!-- Select Basic -->
            
            
         </div>
         <!-- Text input-->
         <div class="row">
            <div class="form-group col-sm-6 col-md-6 justify-content-center">
            
                <!-- <label class="col-sm-6 col-md-6 control-label" for="phone">Mobile</label>   -->
                <h4> <span class="badge badge-primary">Mobile</span></h4>
                <div class="col-md-8">
                   <input id="phone" name="phone" placeholder="Mobile" class="form-control input-md" ng-model="loanApplication.phone" required type="tel">
                   <div class="valid-feedback">
                      Looks good!
                     </div>
                     <div class="invalid-feedback">
                       Please provide Mobile / valid Mobile!
                     </div>
                  </div>
              </div>
              <div class="form-group col-sm-6 col-md-6">
                 
                    <!-- <label class="col-md-6 control-label" for="ssn">SSN</label>   -->
                    <h4> <span class="badge badge-primary">SSN</span></h4>
                    <div class="col-md-8">
                       <input id="ssn"  placeholder="SSN" ng-model="loanApplication.ssn" class="form-control input-md" required type="tel">
                       <div class="valid-feedback">
                          Looks good!
                         </div>
                         <div class="invalid-feedback">
                           Please provide SSN  / valid SSN!
                         </div>
                      </div>
                 
              </div>
            <!-- Text input-->
            
         </div>
         
         <!-- Text input-->
         <div class="row">
            <div class="form-group col-sm-6 col-md-6">
               
                  <!-- <label class="col-md-6 control-label" for="loanAmount">Loan Amount</label>   -->
                  <h4> <span class="badge badge-primary">Loan Amount</span></h4>
                  <div class="col-md-8">
                     <input id="loanAmount" name="loanAmount" placeholder="Loan Amount"  ng-model="loanApplication.loanAmount" class="form-control input-md" required type="tel">
                     <div class="valid-feedback">
                        Looks good!
                       </div>
                       <div class="invalid-feedback">
                         Please provide Loan Amount / valid Loan amount!
                       </div>
                    </div>
               
            </div>
            <!-- Text input-->
            <div class="form-group col-sm-6 col-md-6">
               
                  <!-- <label class="col-md-6 control-label" for="price">Loan Term</label>   -->
                  <h4> <span class="badge badge-primary">Loan Term</span></h4>
                  <div class="col-md-8">
                      <select id="loanTerm"  class="form-control"  required ng-model="loanApplication.loanTerm">
                          <option value="">Loan Term</option>
                          <option value="5 years">5 years</option>
                          <option value="10 years">10 years</option>
                          <option value="15 years">15 years</option>
                          <option value="20 years">20 years</option>
                          <option value="25 years">25 years</option>
                          <option value="30 years">30 years</option>
                       </select>
                       <div class="valid-feedback">
                          Looks good!
                         </div>
                         <div class="invalid-feedback">
                           Please provide Loan Term!
                         </div>
                  </div>
               </div>
            
         </div>
         <!-- Select Basic -->
         <!-- Select Basic -->
         <div class="row">
            <div class="form-group col-sm-6 col-md-6">
               
                <!-- <label class="col-md-6 control-label" for="price">Income</label>   -->
                <h4> <span class="badge badge-primary">Income</span></h4>
                <div class="col-md-8">
                   <input id="income" name="income" placeholder="Income"  ng-model="loanApplication.income" class="form-control input-md" required type="tel">
                   <div class="valid-feedback">
                      Looks good!
                     </div>
                     <div class="invalid-feedback">
                       Please provide income / valid income!
                     </div>
                  </div>
             </div>
            <div class="form-group col-sm-6 col-md-6">
               
                  <!-- <label class="col-md-6 control-label" for="payment">Interest Type</label> -->
                  <h4> <span class="badge badge-primary">Interest Type</span></h4>
                  <div class="col-md-8">
                     <select id="payment" name="payment" class="form-control"  ng-model="loanApplication.interestType" required>
                        <option value="">Interest type</option>
                        <option value="Monthly">Monthly</option>
                        <option value="Quarterly">Quarterly</option>
                        <option value="Halfyearly">Halfyearly</option>
                        <option value="Yearly">Yearly</option>
                     </select>
                     <div class="valid-feedback">
                        Looks good!
                       </div>
                       <div class="invalid-feedback">
                         Please provide Interest Type!
                       </div>
                  </div>
               
            </div>
          </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6">
                   
                      <!-- <label class="col-md-6 control-label" for="property">Yearly Property Tax</label>   -->
                      <h4> <span class="badge badge-primary">Property Tax</span></h4>
                      <div class="col-md-8">
                         <input id="property"  placeholder="Property Tax"  ng-model="loanApplication.propertyTax" class="form-control input-md" required type="tel">
                         <div class="valid-feedback">
                            Looks good!
                           </div>
                           <div class="invalid-feedback">
                             Please provide Property tax / valid Property tax!
                           </div>
                        </div>
                   
                </div>
                <!-- Text input-->
                <div class="form-group col-sm-6 col-md-6">
                   
                      <!-- <label class="col-md-6 control-label" for="downPayment">Down Payment</label>   -->
                      <h4> <span class="badge badge-primary">Down Payment</span></h4>
                      <div class="col-md-8">
                         <input id="downPayment" placeholder="Down Payment" class="form-control input-md"  ng-model="loanApplication.downPayment" required type="tel">
                         <div class="valid-feedback">
                            Looks good!
                           </div>
                           <div class="invalid-feedback">
                             Please provide Down payment/ valid Down payment!
                           </div>
                        </div>
                   </div>
                
             </div> <!-- -->
             
            <div class="form-group col-sm-12">
               <div class="col-sm-12 text-center">
                  <button id="submit" name="submit" class="btn btn-success">Submit</button>
               </div>
            </div>
         </div>
   </fieldset>
   
</form>
<form action="/loanapplication/uploadDocument"  method ="post" id="documentForm" enctype="multipart/form-data">
   <legend>Documents</legend>
           <div class="row document_section">
            <div class="col-md-12   justify-content-center">
                  <div class="row">
               <div class="col-md-3 col-sm-4 doc_text">Address Proof</div> 
               <div class="col-md-6 col-sm-4 doc_text">
                  <input  id ="addressProof" type='file' name="addressProof" onchange="displayImage(this)" />
            </div>
            <div class="col-md-3 col-sm-4 doc_text">
               <img  id="address_img" src="#" alt="" /> 
            </div>
            </div>
            </div>
         </div>
         <div class="row document_section" >
               <div class="col-md-12   justify-content-center">
                     <div class="row">
                  <div class="col-md-3 col-sm-4 doc_text">SSN </div> 
                  <div class="col-md-6 col-sm-4 doc_text">
                     <input  id ="ssnProof" type='file' name="ssnProof" onchange="displayImage(this)" />
               </div>
               <div class="col-md-3 col-sm-4 doc_text">
                  <img  id="ssn_img" src="#" alt="" /> 
               </div>
               </div>
               </div>
            </div>
            <div class="row document_section" >
                  <div class="col-md-12   justify-content-center">
                        <div class="row">
                     <div class="col-md-3 col-sm-4 doc_text">Income Proof</div> 
                     <div class="col-md-6 col-sm-4 doc_text">
                        <input  id ="incomeProof" type='file' name="incomeProof" onchange="displayImage(this)" />
                  </div>
                  <div class="col-md-3 col-sm-4 doc_text">
                     <img  id="income_img" src="#" alt="" /> 
                  </div>
                  </div>
                  </div>
               </div>
</form>
<!--<form method="post" id="uploadDocument" action="/uploadDocument" ng-controller="formCtrlDoc" enctype="multipart/form-data">
   <input type='file' onchange="angular.element(this).scope().uploadFile(this)" />
            <img id="blah" src="#" alt="your image" /> 
            <input type="submit" />
 </form>-->
</div>
<div class="loading" id="spinner">
      <div class="loader"></div>
  </div>
<div id="applicationModal" class="modal fade">
      <div class="modal-dialog modal-confirm">
         <div class="modal-content">
            <div class="modal-header">
               <div class="icon-box">
                  <i class="material-icons">check_circle_outline</i>
               </div>				
               <h4 class="modal-title">Success!</h4>	
            </div>
            <div class="modal-body">
               <p class="text-center">Application has been created succesfully</p>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-success">OK</button>
            </div>
         </div>
      </div>
   </div>
   <div class="container pull-right" id="chatbox">
      <div class="row chat-window col-xs-5 col-md-3 pull-right" id="chat_window_1">
         <div class="col-xs-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
               <div class="panel-heading top-bar">
                  <div class="row">
                     <div class="col-md-7 col-xs-8 col-sm-8 ">
                        <h3 class="panel-title"><span class="fa fa-comment"></span> Chat</h3>
                     </div>
                     <div class="col-md-4 col-xs-4 col-sm-4 " style="text-align: right;">
                        <a class="min_icon" href="#"><span id="minim_chat_window" class="fa fa-minus icon_minim"></span></a>
                         <!--<a href="#"><span class="fa fa-remove icon_close" data-id="chat_window_1"></span></a>-->
                     </div>
                  </div>
               </div>
               <div class="panel-body">
               <div id="messagebody" class="msg_container_base">
               
               </div>
               <div id="notifyUser"></div>
               <div class="panel-footer">
                       <div class="input-group">
                           <input type="hidden" id="user" value="" />
                          <input id="btn-input" type="text" onkeyup="notifyTyping();" class="form-control input-sm chat_input" placeholder="Write your message here..." required="required" />
                          <span class="input-group-btn">
                          <button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
                          </span>
                       </div>
                    </div>
           </div>
               
            </div>
           
         </div>
      </div>
   </div>
<% include footer.ejs %>
<script src="../../js/loanapplication.js"></script>
</body>
</html>