<% include layout.ejs %>
<div class="container">
  <br><br>
    <div class="row">
    <div class="col-12">
      <br><br><br>
      <div class="jumbotron w-100 p-3">

          <form class="form-group" action="" method="get">
            <h2 class="header_color align-items-center">Loan Payments</h2><br>
          
          <b> <label class="header_color" id="pas" for="Name">Card Name</label></b>
          <input class="form-control" type="text" id="Name" placeholder="Card Number" value=""><br>
          
          <b> <label class="header_color"  for="email">Expiry Date</label></b>
          <input class="form-control" type="text" id="email" placeholder="MM/YY" value=""><br> 
          
          <b> <label class="header_color" id="pas" for="text">CVS</label></b><br>
          <textarea class="form-control" name="text" placeholder="Security Code"></textarea><br>
          
          
          
          <hr class="my-4">
          <a class="btn-info btn-lg" href="/" role="button">cancel</a>
          <a class="btn-danger btn-lg" href="/" role="button">Payments</a>
          
          </form>
          </div>
</div>
</body>
</div>
</div>
      <% include footer.ejs %>
    
    </html>