<% include layout.ejs %>
<script>
function myFunction() {
  var loanAmt = document.getElementById("LoanAmt");
  var loantrm = document.getElementById("duration");
  var interest_rate = document.getElementById("interest_rate");
  var Principal = document.getElementById("LoanAmt");
  var interest=Interest();
var prin_intr=+Principal.value + +interest;
document.getElementById("princ_intrest").innerHTML = "$"+prin_intr;
return prin_intr;
}

function Interest(){
  var Principal = document.getElementById("LoanAmt");
  var interest_rate = document.getElementById("interest_rate");
  var loantrm = document.getElementById("duration");
  var intrst=+Principal.value * +interest_rate.value/100 * +loantrm.value;
document.getElementById("Total_Interest").innerHTML = "$"+intrst;
return intrst;

}
function Interest_per(){
var prin_intr=myFunction();
var interest=Interest();
var intrst_per= (interest/prin_intr)*100;
return intrst_per;

}

function Principal_per(){
var prin_intr=myFunction();
var Principal = document.getElementById("LoanAmt");
var princ_per= (Principal.value/prin_intr)*100;
return princ_per;

}

function Emi(){
var Principal = document.getElementById("LoanAmt");
var interest_rate = document.getElementById("interest_rate");
var loantrm = document.getElementById("duration");
var dur_mnth=loantrm.value*12;
var dur_mnth_minus=(loantrm.value*12)-1;
var int_amt_mnth=interest_rate.value/(12*100);
var powr=Math.pow((1+int_amt_mnth),dur_mnth);
var emi= Principal.value * int_amt_mnth * Math.pow(1+int_amt_mnth,dur_mnth)/(Math.pow(1+int_amt_mnth,dur_mnth)-1);
//var emi= 500000 * 0.0166 * 3.06;//Math.pow((1+0.0166),24))/((Math.pow(1+0.0166),24)-1);

//"p="+ +Principal.value + "int amt mnth=" +int_amt_mnth +"dur_month="+dur_mnth + "dur_mnth_minus" +dur_mnth_minus;
document.getElementById("emi").innerHTML ="$"+Math.round(emi *100)/100; //"power="+powr+"  p="+ +Principal.value + "int amt mnth=" +int_amt_mnth +"dur_month="+dur_mnth + "dur_mnth_minus" +dur_mnth_minus;;
return emi;


}

//[P x R x (1+R)^N]/[(1+R)^N-1]

//Math.pow
</script>
<div class="container">
    <div class="row">
     <div class="col-6">
        <div class="tab-content" id="myTabContent">
                 <div class="col-md-12 login-form-1">
                <b> <br> <br> <div class="header_color_font">Personal/Education Loan Calculator</div><br></b>
                  <h6 class="text-danger">Calculate estimated payments, then check with lenders for accurate rates.</h6>
                    <form class="needs-validation" >
                       <div class="form-group">
                        <B><label for="LoanAmt" class="header_color">Loan amount</label></B>
                          <input type="text" id="LoanAmt" class="form-control" onmouseout="drawChart()" value=10 pattern="[0-9]+" required />
                          <div class="valid-feedback">
                             Looks good!
                            </div>
                            <div class="invalid-feedback">
                              Please provide a valid Loan amount
                            </div>
                       </div>

                       <div class="form-group">
                         <B><label for="interest_rate" class="header_color">Interest rate</label></B>
                        <input type="text" id="interest_rate" class="form-control" onmouseout="drawChart()" value=10 pattern="[0-9]+" required />
                        <div class="valid-feedback">
                           Looks good!
                          </div>
                          <div class="invalid-feedback">
                            Please provide a valid Loan Term
                          </div>
                     </div>

                     <div class="form-group">
                      <B><label for="duration" class="header_color">Loan term</label></B>
                       <select id="duration" class="form-control" name="drpdwn" >
                         <option value="30">30 Years</option>
                         <option value="25">25 Years</option>
                         <option value="20">20 Years</option>
                         <option value="15">15 Years</option>
                         <option value="10">10 Years</option>
                         <option value="9">9 Years</option>
                         <option value="8">8 Years</option>
                         <option value="7">7 Years</option>
                         <option value="6">6 Years</option>
                         <option value="5">5 Years</option>
                         <option value="4">4 Years</option>
                         <option value="3">3 Years</option>
                         <option value="2">2 Years</option>
                         <option value="1">1 Years</option>
                       </select>
                      <div class="valid-feedback">
                         Looks good!
                        </div>
                        <div class="invalid-feedback">
                          Please provide a valid tax rate
                        </div>
                   </div>
<br>
                       <div class="form-group">
                          <input type="button" class="btnSubmit" onmouseout="drawChart()" value="Calculate" /><br><br>
                       </div>
                      </form>
                  </div>
           </div>
        </div>
    <div class="col-6">
      <div class="tab-content" id="myTabContent">
               <div class="col-md-12 login-form-1">
<br><br>
                            <div id="piechart"></div>
                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                            <script type="text/javascript">
                            // Load google charts
                            google.charts.load('current', {'packages':['corechart']});
                            google.charts.setOnLoadCallback(drawChart);
                            function drawChart() {
                              var loanAmt1= Principal_per();
                              var interest=Interest_per();
                              var emi=Emi();
                              var data = google.visualization.arrayToDataTable([
                              ['Description', 'Total'],
                              ['Principal', loanAmt1],
                              ['Interest', interest],
                            ]);
                              var options = {'title':'Principal and Interest', 'width':550, 'height':400};
                              var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                              chart.draw(data, options);
                            }
                            </script>
                            <div class="row">
                             <div class="col-5">
                          <b>  <div class="header_color">Principal + Interest</div></b>
                            <b>   <div class="header_color">Interest</div></b>
                              <b> <div class="header_color">Monthly Estimation</div></b>
                            </div>
                            <div class="col-7">
                          <b><div class="header_color" id="princ_intrest"></div></b>
                          <b>  <div class="header_color" id="Total_Interest"></div></b>
                          <b> <div class="text-danger" id="emi"></div></b>
                            </div>
                          </div>
                          </div>
                          </div>
</div>
</div>
</div>
      <% include footer.ejs %>

    </body>
    </html>
