<% include layout.ejs %>
<div class="container">
  <br><br>
    <div class="row">
    <div class="col-12">
      <br><br><br>
      <div class="jumbotron w-100 p-3">

          <form class="form-group" action="" method="get">
            <h2 class="header_color align-items-center">Monitor Payments</h2><br>
          
          <b> <label class="header_color" id="pas" for="Name">Loan Amount</label></b>
          <input class="form-control" type="text" id="Name" placeholder="------" value=""><br>
          
          <b> <label class="header_color"  for="email">Loan Term</label></b>
          <input class="form-control" type="text" id="email" placeholder="--Years" value=""><br> 
          
          <b> <label class="header_color" id="pas" for="text">Amount Paid</label></b><br>
          <textarea class="form-control" name="text" placeholder=""></textarea><br>
          
          <b> <label class="header_color" id="pas" for="text">Remaining Paid</label></b><br>
          <textarea class="form-control" name="text" placeholder=""></textarea><br>

          <hr class="my-4">
          
          </form>
          </div>
</div>
</body>
</div>
</div>
      <% include footer.ejs %>
    
    </html>
