<% include layout.ejs %>
<div class="container">
  <br><br>
    <div class="row">
    <div class="col-3">
      <br><br><br>
      <div class="jumbotron w-100 p-3">
<br>
      <form class="form-group" action="" method="get">
    <img class="" src="../images/logo.png" alt="">
      <b> <label class="header_color" id="pas" for="Name">Gouthami Pasham</label></b>
      <input class="form-control" type="text" id="Name" value=""><br>
      <hr class="my-4">
      </form>
      </div>
    </div>
    <div class="col-1">

    </div>
    <div class="col-6">
      <form class="form-group" action="" method="get"><br><br><br>
      <h2 class="header_color align-items-center">My Profile</h2>
      <b> <label class="header_color" id="pas" for="Name">Name</label></b>
      <input class="form-control" type="text" id="Name" value=""><br>
      <b> <label class="header_color"  for="email">Email</label></b>
      <input class="form-control" type="text" id="email" value=""><br>
      <b> <label class="header_color"  for="phno">Phone Number</label></b>
      <div class="input-group mb-2">
        <input class="form-control" type="text" id="phno" value="">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
      </div><br>

      <b> <label class="header_color" id="pas" for="country">Country</label></b>
      <div class="input-group mb-2">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
      </div><br>
      <b> <label class="header_color" id="pas" for="password">Change Password</label></b>
      <div class="input-group mb-2">
        <input type="password" class="form-control" id="password" placeholder="">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
      </div><br>
      <b> <label class="header_color" id="pas" for="password">Confirm Password</label></b>
      <div class="input-group mb-2">
        <input type="password" class="form-control" id="password" placeholder="">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
      </div><br>
      <hr class="my-4">
      <a class="btn-info btn-lg" href="/" role="button">cancel</a>
      <a class="btn-danger btn-lg" href="/" role="button">Save</a>
      </form>
    </div>
</div>
</div>
      <% include footer.ejs %>
    </body>
    </html>
