
           <% include layout.ejs %>
           <div class="container login-container">
                <div class="row">
                   <div class="col-md-12">

                        <div class="form-group">
                                <input type="submit" class="btnSubmit" value="submit" />
                             </div>
                   </div>
                </div>
           </div>
<h6 class="details"> DETAILS OF APPLICATION ID.</h6>
<% include footer.ejs %>
