<% include layout.ejs %>
<div class="container-fluid">
        <div class="row">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="form-gap"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="text-center">
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            <div class="panel-body">
              
                              <form id="register-form" role="form" autocomplete="off" class="form" method="post">
              
                                <div class="form-group">
                                  <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                    <input id="username" name="username" placeholder="Enter UserName" class="form-control"  type="username">
                                  </div>
                                  <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                    <input id="newpassword" name="newpassword" placeholder="Enter NewPassword" class="form-control"  type="newpassword">
                                  </div>
                                  <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                    <input id="Re-enterpassword" name="Re-enterpassword" placeholder="Enter Re-enterpassword" class="form-control"  type="Re-enterpassword">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                </div>
                                
                                <input type="hidden" class="hide" name="token" id="token" value=""> 
                              </form>
              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            </div>
          </div>
      <% include footer.ejs %>
      <style>
        a.btn.btn-primary.waves-effect.waves-light {
          background: #008f95 !important;
          border: none;
      }
      </style>
    </body>
    </html>